<a href="https://colab.research.google.com/github/eric99132/Introduction-to-Computers/blob/main/516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=range(9)
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
b=range(5,10)
print(list(b))

[5, 6, 7, 8, 9]

In [ ]:
c=range(3,8,1)
print(list(c))
d=range(3,8,2)
print(list(d))
e=range(8,3,-1)
print(list(e))

[3, 4, 5, 6, 7]
[3, 5, 7]
[8, 7, 6, 5, 4]

In [ ]:
f=range(0,9)
print(list(f))
g=range(1,10)
print(list(g))
h=range(1,10,2)
print(list(h))
i=range(10,0,-2)
print(list(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [ ]:
for x in range(3):
  print(x)
for x in range(10):
  print(x,end=',')

0
1
2
0,1,2,3,4,5,6,7,8,9,

In [ ]:
for x in range(0,10,2):
  print(x,end=(' '))

0 2 4 6 8

In [ ]:
a=int(input('輸入一個正整數'))
for x in range(1,a+1):
  print(x,end=(' '))

輸入一個正整數5
1 2 3 4 5

In [ ]:
sum=0
a=int(input('輸入一個正整數'))
for n in range(1,a+1):
  sum=sum+n
print(sum)

輸入一個正整數1
1